*{
   box-sizing: border-box; 
}

body{
    margin: 0;
    font-family:sans-serif;

}
.formulario{
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(183, 123, 189, 0.39);
    position: relative;

}
.formulario_titulo{
    text-align: center;
    margin-top: 0;
    color: rgba(0,0,0,0.7);
}
.formulario_input, 
.formulario_label,
.formulario_submit{
    display: block;
    width: 100%;
    font-size: 1.3em;
}
.formulario_input{
    padding: 20px;
    background:rgba(183, 123, 189, 0.39);
    border: 1px solid rgba(0,0,0,0.3);
    margin-bottom: 40px;
}
.formulario_input:focus + .formulario_label{
    margin-top: -135px;
}
.formulario_label{
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    z-index: -28;
    color: rgba(0,0,0,0.7);
}
.formulario_submit{
    background: rgba(97, 8, 70, 0.7);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}
.fijar{
    margin-top: -137px;
}
